@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply h-full overflow-x-hidden; */
  /* background-color: black; */
  /* --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity)); */
  /* background: linear-gradient(
    104.3deg,
    rgb(226, 202, 220) 10.9%,
    rgb(248, 231, 231) 27.8%,
    rgb(160, 112, 161) 101.7%
  ); */

  /* background: linear-gradient(to top, #dfe9f3 0%, white 100%); */
}

/* #__next {
  @apply h-full;
}

html {
  @apply h-full;
} */

.header {
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(151, 123, 168);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(247 171 10 / 0.4); */
  /* background-image: linear-gradient(
    to right,
    rgba(138, 43, 226, 0.5),
    rgba(219, 112, 147, 0.5)
  ); */
  background: #df6dafc0;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b3c6bc0;
  /* background: #4a1c86; */
}
